<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="flex-container">
      {{>header}}
      <main>
        <p>This site was created by Hideaki Aomori. It uses data from mapbox.com and darksky.net</p>
        <image class="portrait" src = '/img/profile.JPG'></image>
      </main>
    </div>
    {{>footer}}
  </body>
</html>