{{!-- {{Inserting title will insert the title that is specific to each page based on app.js objec}} --}}
<header>
  <h1>{{title}}</h1>

  <a href="/">Weather</a>
  <a href="about">About</a>
  <a href="help">Help</a>
</header>
